html, body {
  margin: 0;
  padding: 0;
}
.aside {
	background-color: #D8D8D8;
	border-color: #FFFFFF;
	border-width: 2px;
	border-style: double solid double solid;
	float: right;
	padding: 5px;
	width: 320px;
	height: 2000px;
}

.blocktext {
    margin-left: 200px;
    margin-right: 200px;
    color: WHITE;
}

.diagram-right {
	float: right;
	padding: 5px;
	width: 300px;
	height: 500px;
}

.diagram-left {
	float: left;
	padding: 5px;
	width: 300px;
	height: 500px;
}

#diagram-left, diagram-right {
  float: center;
}

.story {
	float: right;
	width: 300px;
	height: 40px;
	margin: 10px;
}

.text-center {
    margin-left: 200px;
    margin-right: 200px;
    text-align: left;
}

.news {
    width: 1000px;
    padding: 30px;
    border: 1px solid gray;
    margin: 10;
    background-color: WHITE;
}

.news img {
    float: left;
    margin: 0px 10px 10px 10px;
    padding: 10px;
}

.floating-box {
    float: right;
    width: 300px;
    height: 75px;
    margin: 10px;
    border: 1px solid #000000;  
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.jumbotron {
  height: 800px;
  padding 20px 0;
  background-image: url(http://cbsnews2.cbsistatic.com/hub/i/r/2010/12/02/dd5e65b4-a642-11e2-a3f0-029118418759/thumbnail/620x350/571b5a3473878e7fe845e8e9ac74feeb/image7111381x.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.atom-background {
  background-image:url(http://ak.picdn.net/shutterstock/videos/5359640/preview/stock-footage-dark-blue-atom-in-space-with-bright-orbiting-electrons.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}

.nav {
  margin: 0;
  padding: 10px 0;
  margin-left: 0px;
  margin-right: auto;
  background-color: WHITE;
}

.nav li {
  color: BLACK;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 14px;
  display: inline;
  padding: 20px;
}

.main {
  position: relative;
  top: 180px;
  text-align: center;
}

.main h1 {
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}

.btn-main {
  background-color: #333;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.supporting {
  padding-top: 80px;
  padding-bottom: 100px;
}

.supporting .col {
  float: left;
  width: 33%;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.supporting img {
  height: 32px;
}

.supporting h2 {
  font-weight: 600;
  font-size: 23px;
  text-transform: uppercase;
}

.supporting p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 50px;
  margin-bottom: 40px;
}

.clearfix {
  clear: both;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

.footer p {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
}

@media (max-width: 500px) {
  .main h1 {
    font-size: 50px;
    padding: 0 40px;
  }

  .supporting .col {
    width: 100%;
  }
  
}
